<ion-header [translucent]="true" class="fondoheader">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button 
          defaultHref="/"
          text=""
          color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>CHECK-IN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">ALEJANDRA MENA</ion-card-title>
    </ion-card-header>
    <!--CARD DENTRO DEL CARD-->
    <ion-card>
      <ion-card-content>
        <h1 class="letras">RUT: 21.423.453-4</h1>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h1 class="letras">Correo: alejandra.me&#64;duocuc.cl</h1>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h1 class="letras">Contraseña: ************</h1>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h1 class="letras">Fecha de Nacimiento: 06/04/2002</h1>
      </ion-card-content>
    </ion-card>

  </ion-card>
</ion-content>
