<ion-header [translucent]="true" class="fondoheader">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>CHECK-IN</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="fondo">
  <ion-text class="titulotexto">
    <h1 class="texto">CHECK-IN</h1>
  </ion-text>
  <ion-card class="check">
    <ion-img src="assets/icon/3179198.png" ></ion-img>
  </ion-card>
  <!--ion-text class="titulotexto1">
    <h1 class="texto1">Aplicación de Estudiantes para manejar sus registros y justificaciones de sus respectivas clases</h1>
  </ion-text!-->
  <ion-card class="cardcontent">
    <ion-card-content>
      Aplicación de Docentes para manejar sus clases y la toma de asistencias del estudiante
    </ion-card-content>
  </ion-card>
  <div class="login">
    <ion-button expand="block" class="boton" (click)="gologin()">
      INICIAR SESION
    </ion-button>
    <br>
    <ion-button class="boton" expand="block" (click)="goregistrodocente()">REGISTRAR</ion-button>
  </div>
  
</ion-content>
